html, body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #ddd;
  height: 100%;
	margin:0;
	padding:0;
}

div#container {
	position: relative;
  min-height: 100%;
  width: 99%;
  margin:0 auto;
}

div#content {
  padding-bottom: 7em;
}

div#footer {
  position: absolute;
  bottom: 0;
  font-size: 60%;
  width: 100%;
}

div#butter {
  background-color: #ffd;
  margin: 1em;
  padding: 5px;
}


a.a-button {
  appearance:button;
  -moz-appearance:button;
  -webkit-appearance:button;
  padding: 2px 6px 3px 6px;
  text-decoration: none;
}

div.answer {
  margin-left: 2em;
  max-width: 900px;
  margin-right: 10em;
}

div.answer:first-line {
  font-weight: bold;
}

input.invite_only ~ div.regen_invite_code {
  display: none;
}

input.invite_only:checked ~ div.regen_invite_code {
  display: block;
}

h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

table {
  background-color: #fff;
  border: 2px outset;
  margin: 5px;
}

table.borderless, table.player-portrait, table.player-portrait td {
  border: 0;
  border-spacing: 0;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

table.player-portrait {
  width: 100%;
}

td.player-portrait {
  padding: 0 0 0 0;
  border-spacing: 0;
}

td.duration {
  text-align: right;
}

table th, table td {
  border: 2px inset;
  padding: 2px 5px 2px 5px;
  vertical-align: middle;
}

table th {
  background-color: #eee
}

form, div.contents, div.form {
  border: 3px outset;
  background-color: #fff;
  margin: 5px;
  padding: 5px;
  display: inline-block;
}

div.form form, form.faq {
  border: 0;
  background-color: inherit;
  display: block;
}

div.player_info form, form.faq {
  margin: 0px;
  padding: 0px;
}

form#player_info_form {
  margin-top: 0.5em;
}

form.search {
  border: inherit;
  background-color: inherit;
  margin-left: 5em;
  padding: 5px;
  display: inline-block;
}

ol {
  margin-right: 2em;
}

.current_user * {
  font-weight: bold;
  background-color: #eef;
}

.delete-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: top;
  background-image: url("/s/delete-active.png");
}

.promote-button {
  display: inline-block;
  height: 40px;
  width: 39px;
  background-position: top;
  background-image: url("/s/archon-active.png");
}

.demote-button {
  display: inline-block;
  height: 40px;
  width: 39px;
  background-position: top;
  background-image: url("/s/ht-active.png");
}

.delete-button img, .promote-button img, .demote-button img {
  opacity: 1;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out; /* Firefox 4 */
  -webkit-transition: all 1s ease-out; /* Safari and Chrome */
  -o-transition: all 1s ease-out; /* Opera */
}

.delete-button img:hover, .promote-button img:hover, .demote-button img:hover {
  opacity: 0;
  transition: all 0s;
  -moz-transition: all 0s; /* Firefox 4 */
  -webkit-transition: all 0s; /* Safari and Chrome */
  -o-transition: all 0s; /* Opera */
}

.description, .details {
  font-style: italic;
  padding-left: 15px;
  max-width: 800px;
}

.details {
  font-size: 70%;
}

.uploads_accepted {
  background-color: #dfd;
  margin: 1em;
  padding: 5px;
}

.error {
  background-color: #fdd;
  margin: 1em;
  padding: 5px;
}

.hidden {
  display: none;
}

.icon-frame {
  float: left;
  margin-right: 5px;
  dislay: table-cell;
}

.player-name {
  diplay: table-cell;
}

.row2 {
  background-color: #fbfbfb;
}

.user_loss * {
  font-weight: bold;
  background-color: #fee;
}

.user_win * {
  font-weight: bold;
  background-color: #dfd;
}
