html, body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #ddd;
  height: 100%;
	margin:0;
	padding:0;
}

div#container {
	position: relative;
  min-height: 100%;
  width: 99%;
  margin:0 auto;
}

div#header {
  text-shadow: 0 0 2px #888;
}

div#content {
  padding-bottom: 8em;
}

div#footer {
  position: absolute;
  bottom: 10px;
  font-size: 60%;
  width: 100%;
}

div#butter {
  background-color: #ffd;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 40%;
  z-index: 1000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 8px #888;
  opacity: 0.9;
}
#chat-container:hover {
  opacity: 0.95;
  transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out; /* Firefox 4 */
  -webkit-transition: all 0.25s ease-out; /* Safari and Chrome */
  -o-transition: all 0.25s ease-out; /* Opera */
}
#chat-container {
  display: none;
  opacity: 0.8;
  padding: 0;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  min-width: 250px;
  max-width: 33%;
  min-height: 15px;
  max-height: 100%;
  position: fixed;
  bottom: 0;
  right: 5%;
  z-index: 999;
  box-shadow: 0 0 8px #888;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out; /* Firefox 4 */
  -webkit-transition: all 1s ease-out; /* Safari and Chrome */
  -o-transition: all 1s ease-out; /* Opera */
}
#chat-header {
  background-color: darkblue;
  color: white;
  font-size: 70%;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 15px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out; /* Firefox 4 */
  -webkit-transition: all 1s ease-out; /* Safari and Chrome */
  -o-transition: all 1s ease-out; /* Opera */
}
#chat-header.throb {
  background-color: darkred;
  transition: all 1s ease-in;
  -moz-transition: all 1s ease-in; /* Firefox 4 */
  -webkit-transition: all 1s ease-in; /* Safari and Chrome */
  -o-transition: all 1s ease-in; /* Opera */
}
#chat-header a {
  color: white;
  text-decoration: none;
}

#chatbox {
  padding: 4px;
  background-color: white;
  overflow: auto;
  max-height: 400px;
  display: none;
}

#chatbox div.system {
  text-align: center;
  font-size: 80%;
  color: #888;
  font-style: italic;
}

#chatbox div.message {
  white-space: pre-line;
  text-indent: -1em;
  padding-left: 1em;
}
#chatbox div.message span.name {
  font-weight: bold;
}

form#sendchatbox {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  box-shadow: none;
  border-radius: 0;
  bottom: 0;
  display: none;
}
form#sendchatbox table {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}
form#sendchatbox td {
  border: 0;
  padding: 0 5px;
  margin: 0;
}
form#sendchatbox input[type="text"] {
  width: 100%;
}

a {
  color: #008;
}

div.answer {
  margin-left: 2em;
  max-width: 900px;
  margin-right: 10em;
}

div.answer:first-line {
  font-weight: bold;
}

input.invite_only ~ div.regen_invite_code {
  display: none;
}

input.invite_only:checked ~ div.regen_invite_code {
  display: block;
}

h1 a {
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}

h2, h3 {
  text-shadow: 0 0 2px #888;
}

table.borderless, table.player-portrait, td.player-portrait table.player-portrait td {
  border: 0;
  border-spacing: 0;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

table.player-portrait {
  width: 100%;
}

td.player-portrait {
  padding: 0 !important;
  border-spacing: 0;
}

td.ra {
  text-align: right;
}

table.sortable {
  background-color: #000;
  border: 2px solid #000;
  margin: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-spacing: 0;
  box-shadow: 0 0 5px #888;
}

table.sortable thead {
  background-color: #000;
  color: white;
}

table.sortable th {
  padding: 5px 5px;
  background-color: #000;
  cursor: pointer;
}

table.sortable th:first-child {
  border-top-left-radius: 19px;
  padding-left: 10px;
}
table.sortable th:last-child {
  border-top-right-radius: 19px;
  padding-right: 10px;
}

table.sortable > tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
table.sortable > tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

table.sortable td {
  padding: 2px 5px 2px 5px;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #efefef;
  box-sizing: border-box;
}

table th {
  background-color: #eee
}

form, div.contents, div.form {
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #888;
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  display: inline-block;
}

div.form form, form.faq {
  border: 0;
  background-color: inherit;
  display: block;
  box-shadow: none;
}

div.player_info form, form.faq {
  margin: 0px;
  padding: 0px;
}

form#player_info_form {
  margin-top: 0.5em;
}

form.search {
  border: inherit;
  background-color: inherit;
  margin-left: 5em;
  padding: 5px;
  display: inline-block;
}

ol {
  margin-right: 2em;
}

.current_user * {
  font-weight: bold;
  background-color: #eef !important;
}

.delete-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-position: top;
  background-image: url("/s/delete-active.png");
}

.promote-button {
  display: inline-block;
  height: 40px;
  width: 39px;
  background-position: top;
  background-image: url("/s/archon-active.png");
}

.demote-button {
  display: inline-block;
  height: 40px;
  width: 39px;
  background-position: top;
  background-image: url("/s/ht-active.png");
}

.delete-button img, .promote-button img, .demote-button img {
  opacity: 1;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out; /* Firefox 4 */
  -webkit-transition: all 1s ease-out; /* Safari and Chrome */
  -o-transition: all 1s ease-out; /* Opera */
}

.delete-button img:hover, .promote-button img:hover, .demote-button img:hover {
  opacity: 0;
  transition: all 0s;
  -moz-transition: all 0s; /* Firefox 4 */
  -webkit-transition: all 0s; /* Safari and Chrome */
  -o-transition: all 0s; /* Opera */
}

.description {
  text-shadow: 0 0 2px #aaa;
}

.description, .details {
  font-style: italic;
  padding-left: 15px;
  max-width: 800px;
}

.details {
  font-size: 70%;
}

.uploads_accepted {
  background-color: #dfd;
  margin: 1em;
  padding: 5px;
}

.error {
  background-color: #fdd;
  margin: 1em;
  padding: 5px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.icon-frame {
  float: left;
  margin-right: 5px;
  dislay: table-cell;
}

.player-name {
  diplay: table-cell;
}

.row2 {
  background-color: #fbfbfb;
}

.user_loss * {
  font-weight: bold;
  background-color: #fee !important;
}

.user_win * {
  font-weight: bold;
  background-color: #dfd !important;
}
