{%autoescape on%}
<html>
<head>
 <title>SC2 Laddrs! - {{ ladder.name|escape }} Ladder - Join</title>
 {%include "urchin.html"%}
</head>
<body>
<div id="container">
 <div id="header">
  <h1><a href="/">SC2 Laddrs BETA!</a> - <a href="/ladder/{{ladder.get_ladder_key}}">{{ladder.name}}
    Ladder</a> - Join
  </h1>
  {%if butter%}<div id="butter">{{butter}}</div>{%endif%}
 </div>
 <div id="content">
  {%include "join_ladder_form.html"%}
 </div>
 {% include "footer.html" %}
</body>
</html>
{%endautoescape%}
