{%autoescape on%}
<html>
<head>
 <title>{{ladder.name}} - SC2 Laddrs!</title>
 <meta name="description" content="{%if ladder.public or user_player %}{{ladder.description}}{%endif%} This is a {%if ladder.public %}public {%if ladder.invite_only %}invite-only {{ladder.region|upper}} ladder.{%else%}{{ladder.region|upper}} Starcraft 2 ladder.{%endif%}{%else%}private {{ladder.region|upper}} Starcraft 2 ladder.{%endif%}" />
 <link type="text/css" rel="stylesheet" href="/s/main.css" />
 <script src="/s/sorttable.js"></script>
 <script src="/s/misc.js"></script>
 <script src="/s/sm2/soundmanager2-nodebug-jsmin.js"></script>
 <script src='/_ah/channel/jsapi'></script>
 <script src='/s/channel.js'></script>
 {%include "urchin.html"%}
 <style id="timestamp-style">#chatbox .ts { display: none; }</style>
</head>
<body {%include "tracking.html"%}>
 {%if butter%}<div id="butter">{{butter}}</div>{%endif%}
 {%if user_player%}{%include "chatbox.html"%}{%endif%}

<div id="container">

 <div id="header">
  <h1><a href="/">SC2 Laddrs BETA!</a> - {{ladder.name}} Ladder <g:plusone></g:plusone>
  </h1>
 </div>

 <div id="content">

  {%if manage_ladder %}
   <div class="form" style="float:right;text-align:center">
     <b>DANGEROUS ADMIN STUFF</b>
     <form method="post">
      <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
      <input type="hidden" name="action" value="delete_all_the_matches" />
      <input type="submit" onclick='return confirm("Are you sure you want to delete all the matches uploaded to this ladder? THIS CANNOT BE UNDONE!");' value="DELETE ALL THE MATCHES" />
     </form>
   </div>

   <form method="post">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="hidden" name="action" value="update_ladder" />
    <div>Description:<br><textarea required="required" name="description" rows="6" cols="80" spellcheck="true">{{ladder.description}}</textarea></div>
    <div>Public Ladder: <input onclick="this.form.invite_only.checked=this.checked?this.form.invite_only.checked:true;" type="checkbox" name="public" {%if ladder.public %}checked{%endif%}/><div class="details">List ladder on front page of <a href="/">SC2 Laddrs</a>.</div></div>
    <div>Invite-Only: <input onclick="this.checked=this.form.public.checked?this.form.invite_only.checked:true;" class="invite_only" type="checkbox" name="invite_only" {%if ladder.invite_only %}checked{%endif%}/><div class="details">Require future players to enter an invite-code in order to join.</div>
    <div class="regen_invite_code">Regenerate Invite-code: <input type="checkbox" name="regen_invite_code" /><div class="details">Regenerates a new invite-code. Use if your existing invite-code ({{ladder.invite_code}}) has been leaked.</div></div></div>
    <input type="submit" value="Update" />
   </form>
  {%else%}

   {%if user_player %}
    <div class="rhs" style="float:right;min-width:500px">
     <div style="text-align:right">
      <div class="player_info form" style="text-align:left;max-width:400px">
       <input style="float:right" type="button" value="{%if ladder.public%}show{%else%}{%if user_player.nickname%}show{%else%}hide{%endif%}{%endif%}" onclick='this.value=this.value=="show"?"hide":"show";toggle_visibility("player_info_form");' />
       <b>Your Player Info&nbsp;</b>
       <form id="player_info_form" method="post" style="display:{%if ladder.public%}none{%else%}{%if user_player.nickname%}none{%else%}block{%endif%}{%endif%};">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
        <div>Members-Only Nickname:
         <input type="text" name="nickname" value="{{user_player.nickname}}" size="30"/>
         <div class="details">Nickname shown to ladder members only.</div>
        </div><br>
        <div>Members-Only Email Address Display:
         <input type="checkbox" name="email" {%if user_player.email %}checked="checked"{%endif%} />
         <div class="details">Check to allow ladder members to see your {{user.email}} email address. Displaying your email address will make it easier for other ladder members to schedule matches with you, but you may not want to show it for privacy reasons.</div>
        </div><br>
        <input type="hidden" name="action" value="update_userplayer" />
        <input type="submit" value="Update Info" />
       </form>
      </div>
     </div>
    </div>
   {%endif%}

   {%if ladder.public or user_player %}
    <div class="description">{{ ladder.description|urlize|linebreaks }}</div>
   {%endif%}
   <div class="details">This is a
    {%if ladder.public %}
     public
     {%if ladder.invite_only %}
      invite-only {{ladder.region|upper}} ladder. {%if user_player%}Invite-code for new players: {{ladder.invite_code}}{%endif%}
     {%else%}
      {{ladder.region|upper}} ladder.
     {%endif%}
    {%else%}
     private {{ladder.region|upper}} ladder. {%if user_player%}Invite-code for new players: {{ladder.invite_code}}{%endif%}
    {%endif%}
    {%if user_player.admin%}<br><br>You are an admin for this ladder.
    [{%if manage_ladder%}
      <a href="/ladder/{{ladder.get_ladder_key}}">Stop Managing Ladder</a>
     {%else%}
      <a href="/manage_ladder/{{ladder.get_ladder_key}}">Manage Ladder</a>
     {%endif%}
    ]
    {%endif%}
   </div>
  {%endif%}

  <div id="players">{%include "players.html"%}</div>

  <div id="match_history">{%include "match_history.html"%}</div>

  {%if user_player %}
   {%include "upload_match.html"%}
  {%else%}
   <a name="join"></a>
   <h3>Join This Ladder</h3>
   {%include "join_ladder_form.html"%}
  {%endif%}
 </div>
 {% include "footer.html" %}
</div>
</body>
</html>
{%endautoescape%}
