{% load humanize %}
{%if ladder.public or user_player %}
 <h2>Match History</h2>
  <div style="display:inline-block">
  {%if matches%}
  <table class="sortable"><tr><th>Date</th><th>Winner</th><th>Loser</th><th>Map</th><th>Duration</th><th>D/L</th>{%if manage_ladder%}<th>Admin</th>{%endif%}</tr>
   {% for match in matches %}
    <tr {%if match.you_won %}class="user_win"{%else%}
        {%if match.you_lost %}class="user_loss"{%endif%}{%endif%}>
    <td title="{{match.match_date_local}}"><span class="hidden">{{match.match_date_local|date:"YmdHis"}} </span>
     {{match.match_date_local|naturalday:"M d Y"|capfirst}} {%if match.frozen%}F{%endif%}</td>
    <td class='player-portrait'>{%for player in match.winners%}{%include "player_portrait.html"%}{%endfor%}</td>
    <td class='player-portrait'>{%for player in match.losers%}{%include "player_portrait.html"%}{%endfor%}</td>
    <td><span class="hidden">{{match.mapname|lower}} </span>{{match.mapname}}</td>
    <td class="duration">{{match.duration}}</td>
    <td class='player-portrait'><a onclick="_gaq.push(['_trackPageview', '/download/{{ladder.get_ladder_key|urlencode}}/{{match.get_match_key|urlencode}}/{{match.name|slugify}}.SC2Replay']);" href="/download/{{ladder.get_ladder_key|urlencode}}/{{match.get_match_key|urlencode}}/{{match.name|slugify}}.SC2Replay" title="Uploaded {{match.uploaded|naturalday:"M d Y"}} by {{match.uploader.name}} - v{{match.version}}"><img alt="Download Replay" src="/s/sc2replay-icon.png" height="45"/></a></td>
    {%if manage_ladder%}
     <td align="center">
      {%if match.frozen%}FROZEN{%else%}
      <a class="delete-button" onClick='return confirm("Are you sure you want to delete match?");' href="?action=delete_match;match={{ match.key }};csrf_token={{csrf_token}}"><img border="0" height="40" src="/s/delete.png" alt="Delete Match" title="Delete Match" /></a>
      {%endif%}
     </td>
    {%endif%}
   </tr>{%endfor%}
  </table>
  {%if matches|length > 1%}
       <a style="margin-top:3px;padding-right:10px;float:right;text-decoration:none;color:black;font-weight:bold" href="/download/{{ladder.get_ladder_key|urlencode}}.zip">
    Download&nbsp;All&nbsp;{{matches|length}}&nbsp;Replays&nbsp;<img style="vertical-align:middle" src="/s/zip-icon.png" height="45" width="45" border="0" alt="Download Zip of All Replays" title="Download Zip of All Replays" /></a>
  {%endif%}

  </div>
 {%else%}
  Apparently, the combined APM for this ladder is a big fat ZERO. No one has played a match. {%if user_player %}What are you waiting for? Go play!!{%endif%}
 {%endif%}
{%endif%}
