<span class="hidden">{{player.name|lower}}</span>
<a href="http://sc2ranks.com/char/{{ladder.region}}/{{player.bnet_id}}/{{player.name}}">
<table class='player-portrait'><tr><td width="45">
 {%if player.portrait%}
  <span class="icon-frame" style="background: url('/s/{{player.portrait.image}}') {{player.portrait.position}}"></span>
 {%else%}
  <img class="icon-frame" src="/s/lulz-face.png">
 {%endif%}
</td><td width="100%">
 {{player.name}}{%if user_player%}.{{player.code}}{%endif%}&nbsp;
</td>
{%if player.race%}<td width="45">
 <img style="background-color: {{player.color|cut:" "}} !important;" width="45" height="45" src="/s/{{player.race|lower|cut:" "}}.png" title="{{player.color}} {{player.race}}"/>
</td>{%endif%}</td></tr></table></a>
