<h2>Match Upload</h2>
{%if ladder.players == 1 %}
 <div>Once there are multiple members of the ladder, you can begin to upload replays of matches.</div>
{%else%}
 {% if errormsg %}<div class="error">{% include "tableflipper.html" %} {{errormsg|escape}}</div>{%endif%}
 <form action="/upload/{{ladder.key}}" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  <div>Uploaded replays must be matches between you and other players in the
   ladder. Any other uploads will be rejected.</div><br>
  <div>Replay File: <input type="file" name="replay_file">
   <input type="submit" name="submit" value="Upload!"></div>
  {%if user_player.admin%}
   <div>Force Upload: <input type="checkbox" name="force_upload" />
    <div class="details">As an Admin, you may force replay to be accepted even if you are not one of the players in the match.</div>
  {%endif%}
  </div>
 </form>
{%endif%}
